html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbtn {
  font-family: roboto ;

  font-size: 11;
  text-transform: uppercase;

  font-weight: 300;
  color: #000;
  background-color: rgba(248, 248, 248, 0.2);
  border: none;
  height: 35px;
  line-height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  }

  .navbtnActive{
    background-color: rgba(30, 168, 247, 1) !important;
    box-shadow: 0 1px 8px 0 rgba(107, 107, 107, 0.4) !important;
    color: #fff !important;
  }
.navbtn:hover {
  font-family: roboto; 
  background-color: rgba(30, 168, 247,0.6);
  box-shadow: 0 1px 8px 0 rgba(107, 107, 107, 0.27);
  color: #fff;
  /* text-align: center; */
  font-weight: 700;
/*   transform: translateY(-7px); */
}