/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
p {
  color: green;
  text-align: center;
} 

.ant-input{
  border: 1px solid #d9d9d9 !important;
}