<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="AllLogFileAppender" />
    <appender-ref ref="ErrorLogFileAppender" />

  </root>

  <logger name="Workflow.CommonLibrary.Helper.LoggingMessageInspector">
    <level value="DEBUG" />
    <appender-ref ref="LoggingMessageInspectorAppender" />
  </logger>

  <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="ERROR" />
    <file type="log4net.Util.PatternString" value="logs\\Error.WebServiceHost.%date{yyyyMMdd}.log" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="1" />
    <maximumFileSize value="300MB" />
    <staticLogFileName value="true" />
    <encoding value="utf-8" />
    <MaxSizeRollBackups value="1" />
    <PreserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss,fff} [%thread] %-5level %logger{1} %message%newline" />
    </layout>
  </appender>

  <appender name="LoggingMessageInspectorAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs\\LoggingMessageInspector.%date{yyyyMMdd}.log" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="1" />
    <maximumFileSize value="300MB" />
    <staticLogFileName value="true" />
    <encoding value="utf-8" />
    <MaxSizeRollBackups value="1" />
    <PreserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss,fff} [%thread] %-5level %logger{1} %message%newline" />
    </layout>
  </appender>

  <appender name="AllLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs\\WebServiceHost.%date{yyyyMMdd}.log" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="1" />
    <maximumFileSize value="300MB" />
    <staticLogFileName value="true" />
    <encoding value="utf-8" />
    <MaxSizeRollBackups value="1" />
    <PreserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss,fff} [%thread] %-5level %logger{1} %message%newline" />
    </layout>
  </appender>

</log4net>